/* Reset */
h1,h2,h3,h4,h5,h6,p{
	font-family: 'Open Sans';
}
ul{
	margin-bottom: 0;
}
p{
	margin: 0;
}
html,body{
	height: 100%;
	min-height: 100%
}
.page-wrap{
	height: 100%;
}
/* Header */
header{
	padding: 15px 0;
	background-color: #555b7a;
}
header .list-inline li{ 
	vertical-align: top;
}
header .logged-in li{
	vertical-align: middle;
	float: initial;
	font-size: 16px;
}
header a, header li, header h4{
	color: #fff;
}
header a:hover{
	color: #fff;
	text-decoration: none;
}
.login-wrap{
	text-align: right;
}
.login-wrap .btn-primary{
	background: #c6c7e2;
	border-color: #c6c7e2; 
	color: #555b7a; 
	padding: 2px 15px;
	border-radius: 0;
}


/* Register */
.register-wrap .btn-primary{
	background: #555b7a;
	border-color: #555b7a; 
}

/* Reset */
.reset-wrap{
	text-align: center;
}
.reset-wrap input, .reset-wrap button{
	width:  100%;
	line-height: 32px;
}
.reset-wrap input{
	padding: 0 10px;
}
.reset-wrap .btn-primary{
	background: #555b7a;
	border-color: #555b7a; 
}

/* Home */
.page-wrap-home main, .page-wrap-home aside{
	height: 100%;
}
.page-wrap-home aside{
	background-color: #f5ecff;
}
.page-wrap-home aside a{
	color: #000;
}
.page-wrap-home main{
	position: relative;
}
.page-wrap-home main iframe{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height: 100%;
	width: 100%;
}